@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Bebas Neue", sans-serif;
  overflow: hidden; }

.d-flex {
  display: flex; }

.intro {
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro__left {
    width: 65%;
    padding: 0 3rem;
    text-align: left;
    position: relative; }
    .intro__left-first {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(2rem, 6vw, 9vw);
      text-align: center; }
    .intro__left-second {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-80%, -50%);
      padding: 0 3rem;
      font-size: clamp(2rem, 6vw, 9vw);
      text-align: left;
      color: #fff; }

.portfolio {
  display: none;
  width: 35%;
  height: 100vh;
  background-color: #000;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .portfolio__text {
    color: #fff;
    font-size: clamp(2rem, 6vw, 9vw); }

.main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; }
  .main .name {
    opacity: 0;
    font-size: clamp(2rem, 6vw, 7vw);
    position: absolute;
    right: 0; }
    .main .name span {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .main .growth {
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    list-style: none; }
    .main .growth__title {
      font-size: 3rem;
      font-weight: 100; }

.list {
  width: 100%;
  max-width: 1200px;
  list-style: none; }
  .list .item {
    padding: 1rem;
    border-top: 2px solid black; }
    .list .item .dev-stack {
      padding: 0 1rem;
      color: #8d8c8c; }
    .list .item__title {
      font-size: 1.4rem; }
      .list .item__title:hover {
        opacity: 0.7;
        transition: 0.3s;
        cursor: pointer; }
    .list .item__contents {
      width: 100%;
      max-height: 0;
      opacity: 0; }
      .list .item__contents img {
        height: 0; }
      .list .item__contents.active {
        opacity: 1;
        max-height: 1000px;
        transition: 1.2s; }
        .list .item__contents.active img {
          border: 2px solid #8d8c8c;
          margin: 0 auto;
          border-radius: 4px;
          width: 100%;
          max-width: 800px;
          height: 100%;
          max-height: 400px;
          margin: 1rem 0; }
  .list .item + .item {
    border-top: 2px solid black;
    border-bottom: 2px solid black; }

.inner__left {
  display: flex;
  flex-direction: column; }

.inner__text {
  padding: 1rem 0; }

.inner a {
  height: 1rem;
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  color: #000; }
  .inner a:hover {
    opacity: 0.7;
    transition: 0.3s; }

.tags {
  display: flex;
  list-style: none; }
  .tags .tag span {
    border: 1px solid black;
    border-radius: 100px;
    font-size: 0.8rem;
    padding: 0.3em;
    height: 3rem; }
  .tags .tag + .tag {
    margin-left: 1rem; }

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column; }
    .intro__left {
      width: 100%;
      height: 50vh;
      text-align: center; }
      .intro__left-second {
        transform: translate(-50%, -50%);
        text-align: center; }
    .intro .portfolio {
      width: 100%;
      height: 50vh; }
  .main .growth {
    width: 100%; } }
